<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {%if user.is_authenticated%}
    LOGGED IN !!!
    <form id="logout" action="{%url 'logout'%}" method="POST">
        <input type="submit" value="logout">
    </form>
    {%else%}

    <p> Nope not in</p>
    {%endif%}
    <h1>sign up</h1>
    <pre id="signup-response"></pre>
    <form id="signup" action="{%url 'signup'%}" method="POST">
        <label for="student_id">student_id</label>
        <input type="text" name="student_id">
        <br>
        <label for="name">name</label>
        <input type="text" name="name">
        <br>
        <label for="faculty">faculty</label>
        <input type="text" name="faculty">
        <br>
        <input type="submit" value="Submit">
    </form>
    <hr>
    <h1>sign in</h1>
    <form id="login" action="{%url 'login'%}" method="POST">
        <label for="student_id">student_id</label>
        <input type="text" name="student_id">
        <br>
        <input type="submit" value="Submit">
    </form>
    <hr>
    <h1>Add code</h1>
    <form id="add-code" action="{%url 'addcode'%}" method="POST">
        <label for="code">code</label>
        <input type="text" name="code">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    const logout_form = $('#logout')
    const login_form = $('#login')
    const add_code_form = $('#add-code')

    const signup_form = $('#signup')
    signup_form.on('submit', (e) => {
        e.preventDefault()
        $.post(signup_form.attr('action'), signup_form.serialize(), (response) => {
            $('#signup-response').text(response)
            console.log(response);

        })

    })
    login_form.on('submit', (e) => {
        e.preventDefault()
        $.post(login_form.attr('action'), login_form.serialize(), (response) => {
            console.log(response);
        })

    })
    logout_form.on('submit', (e) => {
        e.preventDefault()
        $.post(logout_form.attr('action'))

    })
</script>

</html>