<!DOCTYPE html>
<html>
<style>
  .column-left {
    float: left;
    width: 33.333%;
    height: 100vh;
    background-color: rgba(196, 57, 38);
  }

  .column-right {
    float: right;
    width: 33.333%;
    height: 100vh;
  }

  .column-center {
    display: inline-block;
    width: 33.333%;
    height: 100vh;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<head>
  <meta charset="utf-8" />
  <title>CCM ENgineering KKU</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sarabun" />
</head>

<body>

  <style>
    body {
      max-width: 100%;
      font-family: "Sarabun", serif;

    }

    .logo {
      display: inline;
    }

    #activityList {

      max-height: 100%;
      float: left;
      overflow: hidden;
      overflow-y: scroll;
      padding-top: 5%;
      padding-left: 10%;
      padding-right: 10%;

    }

    #left-column {
      max-height: 100%;
      overflow: hidden;
    }

    .row {
      margin-bottom: 0px;
    }
  </style>

  <div id="data-holder" data-is_authenticated="{{user.is_authenticated}}" hidden></div>
  <div class="row">
    <div class="column-left col s8 " id="left-column">
      <div class="container">

        <div class="header">
          {% load staticfiles %}
          <a href="#">
            <img id="home-btn" src="{%static 'client/logo5.png' %}" class="logo">
          </a>
          <span id="show-user-id" style="display: none;float:right;margin-top: 30px;">
            <span style="color:white;padding-bottom:10px;" id="loggedUsername">Log in as {{user.username}}</span>
            <a data-action="{%url 'logout'%}" id="logoutBtn" class="btn red waves-effect waves-light btn-small">Log out
            </a>
          </span>
        </div>




        <div class="card white dareken-1 z-depth-5 hoverable center-align col s12" style="margin-top: 20%;">
          <div class="center-align col s2">
            <p></p>
          </div>
          <div class="card-content grey-text col s8">
            <section id="login-section" style="display: none;">
              <span class="card-title center-align black-text">เข้าสู่ระบบ</span>
              <form id="login" action="{%url 'login'%}" method="POST">
                <div class="input-field">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="student_id" name="student_id" type="text" class="validate" />
                  <label for="student_id">รหัสนักศึกษา</label>
                </div>
                <br />
                <div class="center-align">
                  <button type="submit" class="btn red waves-effect waves-light">
                    Login <i class="material-icons right">send</i>
                  </button>
                </div>
                <br />
              </form>

              <div id="signUpBtn" class="center-align">
                <a href="#" class=" left-align black-text" id="to-register-btn">ลงทะเบียนผู้ใช้ใหม่</a><br />
                <a href="#" class="center-align brand-logo black-text">
                  ตารางสอบ</a><br />
                <a href="#" class="right-align brand-logo black-text ">ติดต่อเพิ่มเติม</a>
              </div>
            </section>
            <section id="options-section" style="display: none;">
              <div class="section">
                <span class="card-title center-align black-text">เลือกการทำรายการ</span>
              </div>
              <div class="section">
                <div class="center-align">
                  <button class="btn red waves-effect waves-light" id="to-addcode-btn">
                    กรอกรหัสกิจกรรม
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
              <br />
              <div class="divider"></div>
              <br />
              <div class="section">
                <div class="center-align">
                  <button class="btn red waves-effect waves-light" id="to-display-atv-btn">
                    ตรวจสอบคะแนนกิจกรรม
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </section>
            <section id="addcode-section" style="display: none;">
              <span class="card-title center-align grey-darken-2-text">กรอกรหัสกิจกรรม</span>
              <form id="add-code" action="{%url 'addcode'%}" method="POST">
                <div class="input-field">
                  <i class="material-icons prefix grey-text">account_circle</i>
                  <input id="code" name="code" type="text" class="validate" />
                  <label for="code">รหัสกิจกรรม</label>
                </div>

                <div class="center-align">
                  <button class="btn red waves-effect waves-light" type="submit">
                    ยืนยัน <i class="material-icons right">send</i>
                  </button>
                </div>
              </form>
            </section>
            <section id="register-section" style="display: none;">
              <span class="card-title center-align black-text">ลงทะเบียนผู้ใช้ใหม่</span>
              <form id="signup" action="{%url 'signup'%}" method="POST">
                <div class="input-field">
                  <i class="material-icons prefix grey-text">account_circle</i>
                  <input id="student-id" name="student_id" type="text" class="validate" />
                  <label for="student-id">รหัสนักศึกษา</label>
                </div>

                <div class="input-field">
                  <i class="material-icons prefix grey-text">account_circle</i>
                  <input id="name" name="name" type="text" class="validate" />
                  <label for="name">ชื่อสกุล</label>
                </div>

                <div class="input-field">
                  <select name="faculty" id="faculty"> </select>
                  <label for="faculties">คณะ</label>

                </div>

                <div class="center-align">
                  <br>
                  <button class="btn red waves-effect waves-light" type="submit">
                    Sign Up <i class="material-icons right">send</i>
                  </button>
                </div>
              </form>
            </section>
            <section id="display-section" style="display: none;">
              <div class="striped">
                <table>
                  <thead>
                    <tr>
                      <th class="red-text center">วันที่ใช้</th>
                      <th class="red-text center">ชื่อกิจกรรม</th>
                      <th class="red-text center">คะแนน</th>
                    </tr>
                  </thead>
                  <tbody id="display-table-body" data-url="{%url 'getcode'%}"></tbody>
                </table>
              </div>
            </section>
          </div>
          <div class="col s2">
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <div class="column-right" id="right-column">
      <div class="center-align" id="calendar"></div>


      <div class="" id="activityList"></div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(() => {
      const $login_form = $("#login");
      const $signup_form = $("#signup");
      const $logout_form = $("#logout");
      const $add_code_form = $("#add-code");
      const $display_table_body = $("#display-table-body");
      const to_addcode_btn = $("#to-addcode-btn");
      const to_register_btn = $("#to-register-btn");
      const to_display_btn = $("#to-display-atv-btn");
      const section_login = $("#login-section");
      const section_options = $("#options-section");
      const section_addcode = $("#addcode-section");
      const section_register = $("#register-section");
      const section_display = $("#display-section");
      let is_authenticated =
        $("#data-holder").data("is_authenticated") == "True";
      //init
      if (is_authenticated) {
        section_options.show();
        $("#show-user-id").show();
      } else {
        section_login.show();
      }






      $.ajax({
        type: "POST",
        headers: {
          "X-Requested-With": "XMLHttpRequest"
        },
        url: "https://cors-anywhere.herokuapp.com/https://www.kku.ac.th/ikku/api/academics/services/getFaculty.php?",
        dataType: "json",
        success: function(response) {
          response.results.forEach(data => {
            $("#faculty").append(
              `<option value="${data.name_th}">${data.name_th}</option>`
            );
          });
          $("select").formSelect();
        }
      });
      $("#home-btn").on("click", () => {
        if (is_authenticated) {
          section_login.hide();
          section_options.show();
          section_addcode.hide();
          section_register.hide();
          section_display.hide();
        } else {
          section_login.show();
          section_options.hide();
          section_addcode.hide();
          section_register.hide();
          section_display.hide();
        }
      });
      //login
      $login_form.on("submit", e => {
        e.preventDefault();
        $.post(
          $login_form.attr("action"),
          $login_form.serialize(),
          response => {
            section_login.hide();
            section_options.show();
            is_authenticated = true;
            $("#show-user-id")
              .children("#loggedUsername")
              .text(response.name);
            $("#show-user-id").show();
          }
        ).fail(() => {
          is_authenticated = false;
          M.toast({
            html: "Wrong ID"
          });
        });
      });
      //logout
      $('#logoutBtn').click(() => {
        $.post($('#logoutBtn').data('action'));
        $("#show-user-id").hide();
        section_login.show();
        section_options.hide();
        section_addcode.hide();
        section_display.hide();
        is_authenticated = false;
      })



      //sign up
      $signup_form.on("submit", e => {
        e.preventDefault();
        $.post(
          $signup_form.attr("action"),
          $signup_form.serialize(),
          response => {
            section_login.hide();
            section_register.hide();
            section_options.show();
            is_authenticated = true;
            $("#show-user-id")
              .children("p")
              .text(response.student_id);
            $("#show-user-id").show();
          }
        ).fail(response => {
          M.toast({
            html: response.error
          });
        });
      });
      //add code
      $add_code_form.on("submit", e => {
        e.preventDefault();
        $.post(
          $add_code_form.attr("action"),
          $add_code_form.serialize(),
          response => {
            alert("Success" + response);
          }
        ).fail(response => {
          alert("Fail" + response);
        });
      });
      //Change page
      to_addcode_btn.on("click", () => {
        section_options.hide();
        section_addcode.show();
      });
      to_register_btn.on("click", () => {
        section_login.hide();
        section_register.show();
      });
      to_display_btn.on("click", () => {
        $.getJSON($display_table_body.data("url"), response => {
          response.data.forEach(data => {
            $display_table_body.append(
              $(`<tr>
                            <td>${data.used_at}</td>
                            <td>${data.atvname}</td>
                            <td> ${data.point} </td>
                            </tr>`)
            );
          });
          section_options.hide();
          section_display.show();
        }).fail(response => {
          alert("Fail" + response);
          section_options.hide();
          section_display.show();
        });
      });
    });
  </script>

  <script>
    var url = "http://www.kku.ac.th/ikku/api/activities/services/topActivity.php";
    fetch(url).then(function(result) {
      return result.json();
    }).then(function(data) {
      parseJSON(data);
    });

    function parseJSON(data) {
      var result = "<table>";

      var activities = data.activities;
      var numActivities = activities.length;
      for (i = 0; i < numActivities; i++) {
        var activity = activities[i];
        result += `
                        <tr>
                            <div class="card ">
                                <div class="card-content ">
                                 
                                  <span>
                                    <a target="_blank" href="${activity.url}">${activity.title}</a>
                                  </span>
                                  <small style="display:block;">${activity.dateSt}</small>
                                  <small style="display:block;">${activity.contact.phone} </small>
                                </div> 
                            </div>
                       </tr>
                      
                    
                      `
      }
      result = result + "</table>";
      $("#activityList").append(result);
    }
  </script>
</body>

</html>