<!DOCTYPE html>
<html lang="en">

<head>
    <title>CCM-manage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

</head>

<body>

    <nav class="nav-wraper red">
        <div class="container">
            <a href="#" class="brand-lo">College Club Manager</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <a href="#" data-target="sideNavi" class="sidenav-trigger"><input class="material-icons"></i></a>
                <li class="tab">
                    <a class="nav-item nav-link  navbar-center" href="{% url 'create'%}">สร้างโค้ด</a>
                </li>
                <li class="tab">
                    <a class="nav-item nav-link active" href="{% url 'display'%}">เช็คสถานะโค้ด</a>
                </li>

            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-links">
        <li><a href="{% url 'create'%}">สร้างโค้ด</a></li>
        <li><a href="{% url 'display'%}">เช็คสถานะโค้ด</a></li>

    </ul>
    <section name="table">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">อันดับ</th>
                    <th scope="col">ชื่อกิจกรรม</th>
                    <th scope="col">กำหนดการ</th>
                    <th scope="col">สถานที่</th>
                    <th scope="col">จำนวน</th>
                    <th scope="col">สถานะ</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                {%for data in datas %}

                <tr>
                    <th scope="row">{{ forloop.counter }} </th>
                    <td>{{data.atvname}}</td>
                    <td>{{data.date}}</td>
                    <td>{{data.place}}</td>
                    <td>{{data.code_set.count}}</td>
                    <td>
                        <div class="switch">
                            <label>
                                <input type="checkbox" onchange='onStatusChange("{{data.atvname}}")' {%if data.status %}
                                    checked {% endif %}>
                                <span class="lever"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <a href="#modal-{{ forloop.counter }} " class="modal-trigger">
                            <i class="material-icons">get_app
                            </i>
                        </a>
                        <div id="modal-{{ forloop.counter }} " class="modal"
                            style="width: fit-content;height: fit-content;text-align: center;">
                            <div style="padding: 24px;">
                                <h3>Participation</h3>
                                <a target="_blank"
                                    href="https://api.qrserver.com/v1/create-qr-code/?data=http://{{url}}/api/user/get-csv?atvname={{data.atvname}}&amp;size=300x300">QR
                                    code</a>
                                <a href="http://{{url}}/api/user/get-csv?atvname={{data.atvname}}"
                                    style="display:block;">Download directly</a>
                                <p>Access directly at : http://{{url}}/api/user/get-csv?atvname={{data.atvname}} </p>
                                <hr>
                                <h3>Activity code </h3>
                                <a href="http://{{url}}/api/user/get-atvcode?atvname={{data.atvname}}"
                                    style="display:block;">Download code csv</a>

                            </div>
                        </div>
                    </td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </section>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </script>
    <script>
        $('.modal').modal();
        $(".sidenav").sidenav();

        function onStatusChange(atvname) {
            // TODO : Make an api to update database value
            $.ajax({
                type: "POST",
                url: `${window.location.origin}/api/user/update-atv-status`,
                data: {
                    'atvname': atvname
                },
                success: (data) => {
                    M.toast({
                        html: `Change "${atvname}" event status to ${data.status}`
                    })
                },
                error: (error) => {
                    M.toast({
                        html: `error : ${error}`
                    })
                    // window.location = window.location

                }
            })

        }
    </script>
</body>

</html>